/*Styling of learning webiste homepage*/
.nav__logo {/*logo styling*/
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.logo {/*sixe of logo*/
    width: 50px;
    height: auto;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

/*how we want the website to look like on different screen sizes 38:11*/
  :root{
    --container-width-lg: 92%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
  }

  body{
    font-family: indie flower, cursive;
    line-height: 1.7;
    background: #d1c5c4;
  }
    .container{
        width: var(--container-width-lg);
        margin: 0 auto;
    }

    section{
        padding: 6rem 0;
    }

    section h2{
        text-align: center;
        margin-bottom: 4rem;
    }

    h1, h2, h3, h4, h5, h6{
      line-height: 1.2;
    }

    h1{
      font-size: 2.4rem;
    }

    h2{
      font-size: 2rem;
    }

    h3{
      font-size: 1.6rem;
    }

    h4{
      font-size: 1.3rem;
    }

    img{
      width: 100%;
      display: block;
      object-fit: cover;
    }



    /*How we want the navigation bar to look like*/
    nav{
      background: transparent; /*#DED2D1;*/
      width: 100vw;
      height: 5rem;
      position: fixed;
      top: 0;
      z-index: 11;
    }

    /*change navbar styles on scroll using js*/
    .window-scroll{
      background: #DED2D1;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
    }

    .nav__container{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .nav__menu{
      display: flex;
      align-items: center;
      gap: 4rem;
    }

    .nav__menu a{
      font-size: 0.9rem;
      transition: all 400ms ease;
    }

    .nav__menu a:hover{
      color: #000; /*or maybe white?*/
    }
/*navigation bar styling ends here*/

/*header section styling*/
  header{
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    padding-top: 5rem;
  }

  .header__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
  }

  .header__left p{
    margin: 1rem 0 2.4rem; 
   }

   .header__right img{
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
   }

   /*Courses section styling*/
   .courses{
    background: #d1c5c4;
   }

   .courses h1{
    line-height: 1;
    margin-bottom: 3rem;
   }

   .courses__container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
   }

   .courses__left{
    margin-bottom: 4rem;
   }

   .courses__left p{
    margin: 1rem 0 3rem; 
   }

   .courses__right{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
   }

   .course{
    background: #DED2D1;
    padding: 2rem;
    border-radius: 2rem;
    transition: all 400ms ease;
   }

   .course:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
   }